[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
click = "*"
rich = "*"

[dev-packages]
fbs = {path = "./fbs_pro-1.0.8.tar.gz"}
pytest = "*"

[requires]
python_version = "3.9"

[scripts]
test = "pytest src/main/python/testscore.py src/main/python/testscli.py"
app = "fbs run"
