[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
click = "*"
rich = "*"
fbs = {path = "./../../fbs_pro-1.0.8.tar.gz"}

[dev-packages]

[requires]
python_version = "3.9"
